

body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
}

.wrapper {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-evenly;
}

.header__h2 {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

.header__nav {
    display: flex;
    gap: 24px;
    font-weight: bold;
}

li {
    list-style-type: none;
}

a {
    color: #9c9c9c;
    text-decoration: none;    
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding-top: 60px;
    padding-right: 110px;
    padding-bottom: 60px;
}

.hero__h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    max-width: 350px;
}

.hero__p {
    font-size: 18px;
    color: #9c9c9c;
    max-width: 350px;
}

.hero__figure {
    background-color: #9c9c9c;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 200px;
}

.hero__figcaption {
    color: #F9FAF8;
    text-align: center;
}

.placeholder {
    display: flex;
    justify-content: center;
}



.main__h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.article {
    background-color: #dee0e3;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.aside, .button {
    background-color: #3882F6;
}

.button {
    color: white; 
    font-size: 18px;
}

.footer {
    background-color: #1F2937;
}